input[type=button] {
	background-color: gray;   
	border: 2px solid white;   
	color: white;   
	padding: 15px 32px;   
	text-align: center;   
	text-decoration: none;   
	display: inline-block;   
	font-size: 30px;   
	margin: 4px 2px;   
	cursor: pointer;   
	border-radius: 8px;
}
