/*! simple-switch 2016-03-30 */
.simple-switch-outter {
  background-color: #fff;
  border: 2px solid #dfdfdf;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  box-sizing: content-box;
  background-clip: content-box;
}
.simple-switch-outter .simple-switch {
  display: none;
}
.simple-switch-outter .simple-switch-circle {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
}
.simple-switch-outter.unchecked {
  transition: border 0.4s, box-shadow 0.4s;
  background-color: #ffffff;
}
.simple-switch-outter.unchecked .simple-switch-circle {
  transition: background-color 0.4s, left 0.2s;
}
.simple-switch-outter.checked {
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
  background-color: #abd63;
}
.simple-switch-outter.checked .simple-switch-circle {
  transition: background-color 0.4s, left 0.2s;
  background-color: #ffffff;
}
