.containerbar{
  scrollbar-3dlight-color: #000000;
  scrollbar-arrow-color: pink;
  scrollbar-darkshadow-color: #000000;
  scrollbar-face-color:pink;
  scrollbar-highlight-color: #ffffff;
  scrollbar-shadow-color: #ffffff;
  scrollbar-track-color: #FFE4E1;
}
