.containerbar{
  scrollbar-3dlight-color: #000000;
  scrollbar-arrow-color: #ffffff;
  scrollbar-darkshadow-color: #000000;
  scrollbar-face-color:#000000;
  scrollbar-highlight-color: #ffffff;
  scrollbar-shadow-color: #ffffff;
  scrollbar-track-color: #000000;
}
